:root {
  --GROTESK: "roc-grotesk", sans-serif;
}

@font-face {
  font-family: "Motorola";
  font-style: normal;
  font-weight: normal;
  src: local("Motorola"), url("./assets/motorola.woff") format("woff");
}

svg {
  transition: box-shadow 0.2s ease;
}

svg:hover {
  box-shadow: 0px 0px 10px #fff;
}

#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  background-position: center;
  background-size: cover;
  filter: brightness(0.8);
  transition: background-image 0.5s ease;
}

.home,
.header,
.contact {
  font-family: "Motorola";
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.logo-text {
  font-size: 3rem;
  letter-spacing: 0.2em;
}

.nav-links a,
.logo-text a {
  text-decoration: none;
  color: #fff;
  transition: text-shadow 0.2s ease;
}

.nav-links {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

.logo-text a:hover,
.nav-links a:hover {
  text-shadow: 0px 0px 10px #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  margin-left: -1em;
}

.footer svg {
  scale: 1.5;
}

.portfolio,
.about,
.blog {
  font-family: var(--GROTESK);
  color: #fff;
  letter-spacing: 0.1em;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.about-header {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: right;
  right: 0;
  width: 70%;
}

.about-subheader {
  font-size: 1.7rem;
  font-weight: 200;
  text-align: left;
  left: 0;
  width: 70%;
}

@media screen and (max-width: 991px) {
  .about-header,
  .about-subheader {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .logo-text {
    font-size: 2.3rem;
  }

  .nav-links {
    font-size: 1.2rem;
  }

  .about-title {
    width: 100%;
  }
}
